body {
    background-color: lightblue;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    width: 100%;
  }
  
  /* Create five equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
    /* Create two columns, 80% & 20%, that floats next to each other, put them in a row div as usual */
    .column70 {
      float: left;
      width: 70%;
      padding: 2px;
    }
  
    .column50 {
      float: left;
      width: 50%;
      padding: 2px;
    }

    .column30 {
      float: left;
      width: 30%;
      padding: 2px;
    }
  
  p {
    font-size: 18px;
  }
  
  input[type=text] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 18px;
  }
  input[type=textarea] {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  }
  
  .button:enabled {
    background-color: rgb(69, 114, 151);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.5s;
  }
  .button:hover {
    background-color: #5f8bce
  }
  
  .button:disabled {
    background-color: #8190a7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
  }
  
  .buttonSmall:enabled {
    background-color: rgb(69, 114, 151);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 12px;
    border-radius: 2px;
    transition-duration: 0.5s;
  }
  .buttonSmall:hover {
    background-color: #5f8bce
  }
  .buttonSmall:disabled {
    background-color: #8190a7;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 12px;
    border-radius: 2px;
  }
  /* slider styling */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(69, 114, 151);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(69, 114, 151);
    cursor: pointer;
  }
  
  /* id's */
  #debugVal {
    height: 200px;
    overflow: scroll;
    white-space: normal;
  }